extends ../layout

block layout-content
    div.View.Background
        div.BookingContainer
                div.Title
                    h1 Thanks For Booking!
                    h2
                    h3 #{bookingRef}
